[submodule "apps/rpub-web"]
	path = apps/rpub-web
	url = git@github.com:r-publishing/rpub-web.git
[submodule "apps/rpub-api"]
	path = apps/rpub-api
	url = git@github.com:r-publishing/rpub-api.git
[submodule "apps/rpub-app"]
	path = apps/rpub-app
	url = git@github.com:r-publishing/rpub-app.git
[submodule "apps/rpub-exe"]
	path = apps/rpub-exe
	url = git@github.com:r-publishing/rpub-exe.git
[submodule "deps/pika-plugin-pkg-node"]
	path = deps/pika-plugin-pkg-node
	url = git@github.com:TheoXD/pika-plugin-pkg-node.git
[submodule "packages/rchain-toolkit"]
	path = packages/rchain-toolkit
	url = git@github.com:r-publishing/rchain-toolkit.git
[submodule "packages/rchain-token"]
	path = packages/rchain-token
	url = git@github.com:r-publishing/rchain-token.git
[submodule "packages/keystone-core"]
	path = packages/keystone-core
	url = git@github.com:r-publishing/keystone-core.git
[submodule "packages/rchain-did-resolver"]
	path = packages/rchain-did-resolver
	url = git@github.com:r-publishing/rchain-did-resolver.git
[submodule "packages/js-did"]
	path = packages/js-did
	url = git@github.com:TheoXD/js-did.git
	branch = did_createJWE
